{require_min_otp_vsn, "R17"}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{erl_opts, [{i, "include"},
			{src_dirs, ["src"]}]}.

{sub_dirs, ["rel"]}.

{lib_dirs, ["apps"]}.

{deps_dir, ["apps"]}.

{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
	{cowboy, "2.*", {git, "git://github.com/ninenines/cowboy.git", {branch, "master"}}},
	slimpp,
	slimrt
]}.
