%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
[
 {kernel, [
	{start_timer, true}, 
 	{start_pg2, true}
 ]},

 {sasl, [
	{sasl_error_logger, {file, "log/nextalk_sasl.log"}}
 ]},

 {mnesia, [
	{dir, "data"}
 ]},

 {lager, [
	{error_logger_redirect, false},
	{crash_log, "log/slimrt_crash.log"},
	{handlers, [
		%{lager_console_backend, info},
		%{lager_file_backend, [
		%	{file, "log/slimrt_info.log"},
		%	{level, info},
		%	{size, 10485760},
		%	{date, "$D0"},
		%	{count, 5}
		%]},
		{lager_file_backend, [
			{file, "log/slimrt_error.log"},
			{level, error},
			{size, 10485760},
			{date, "$D0"},
			{count, 5}
		]}
	]}
 ]},

 {slimrt, [
	{server, "$SERVER"},
    {auth_mod, config},
	{auth_sites, [
		{"$DOMAIN", "$APIKEY"}
	]},
	{httpd, [
		{max_connections, 10000},
		{port, 8000}
	]},
    {mqttd, [
        {open, false},
		{max_connections, 10000},
		{port, 8883}
    ]}
 ]}

].

